<%- include('./partials/header.ejs') %> 

<div class="home">
    Home Page
</div>

<main>
    

    <div class="form-container">
        <form>
            <label for="username">Username</label> 
            <input type="text" id="username" name="username"><br>
            <label for="title">title</label> 
            <input type="text" id="title" name="title"><br>
            <label for="message">message</label> 
            <input type="text" id="message" name="message"><br>
            <span>Replies</span>
            <button>Create Post</button>
    
        </form>
    </div>
</main>


