<%- include('./partials/head.ejs', { title: 'login' }) -%>

<h1>Login</h1>

<form method="POST" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username" placeholder="imjord" />
  </p>
  <p>
    <label>Email:</label>
    <input type="email" name="email" placeholder="jordanharperjs@gmail.com" />
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" placeholder="******" />
  </p>
  <p>
    <button>sign in</button>
  </p>
</form>

<%- include('./partials/foot.ejs') -%>
