<%- include('./partials/header.ejs') %> 

<div class="home">
    Post Page 
</div>

<main>
    

    <div class="form-container">
        <div class="form-">
            <form action="/posts" method="POST" >
                <label for="username">Username</label> 
                <input type="text" id="username" name="username"><br>
                <label for="title">Post title</label> 
                <input type="text" id="title" name="title"><br>
                <label for="postMessage">postMessage</label> 
                <textarea type="text" id="postMessage" name="postMessage"></textarea><br>
                <span>Replies</span>
                <button>Create Post</button>
        
            </form>
        </div>
    </div>
    
    <section>


        <div class="posts">
            <div class="post-container">
                Posts
                <% if (data.length <= 0) { %>
                    <p> there are currently no posts. Be the first to post!</p> 
                   
                    <% } else { %>
                        <% data.forEach(d => { %>
                          <div> <%= d.username %> </div>  
                            
                        <% }) %> 
                        <% } %>   
               
            </div>
        </div>
    </section>
    
</main>


