<%- include('./partials/head.ejs', { title: 'login' }) -%>

<div class="register-container">
  <form action="/register" method="POST">
    <input type="name" name="username" placeholder="username here" />
    <input type="email" name="email" placeholder="email here" />
    <input type="password" name="password" placeholder="*****" />
    <button>Sign up</button>
  </form>
</div>

<%- include('./partials/foot.ejs') -%>
